@import "//at.alicdn.com/t/font_1939991_8o1cqd1klon.css"

body
  font-family: auto

strong
  font-weight bold

.navbar .site-name
  font-weight: 600

@font-face {
  font-family: 'wjq';
  src: url(/ZCOOLKuaiLe-Regular.ttf);
}

i.iconfont {
  vertical-align: bottom;
}

::selection
  color: #414c41;
  background: #b5eecd;

.blogger img:hover {
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
