@import "//at.alicdn.com/t/font_1939991_ckc5iusy6ui.css"

body
  font-family: auto

.navbar .site-name
  font-weight: 600

@font-face {
  font-family: 'wjq';
  src: url(/ZCOOLKuaiLe-Regular.ttf);
}

i.iconfont {
  vertical-align: bottom;
}
