@import "//at.alicdn.com/t/font_1939991_n9r63f2uk5f.css"

body
  font-family: auto

strong
  font-weight bold

.navbar .site-name
  font-weight: 600

@font-face {
  font-family: 'wjq';
  src: url(/ZCOOLKuaiLe-Regular.ttf);
}

i.iconfont {
  vertical-align: bottom;
}

.demo-wrapper button
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;

.demo-wrapper button:hover
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
